doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style.
      .text-red{
        color:red;
      }
      .text-white{
        color: white;
      }
  body 
    h1.text-red#title 123456
    .bg-black.text-while 
      |123
      br
      |456
    script.
      document.getElementById('title')
      console.log('aaaa')